.popup__form-input {
  margin: 0 0 30px 0;
  padding: 0 0 13px 0;
  width: 358px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767px) {
  .popup__form-input {
    padding: 0 0 9px 0;
    width: 238px;
  }
}
