.button_type_save {
  margin: 18px 0 0 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #ffffff;
  background: #000000;
  border-radius: 2px;
  width: 358px;
  height: 50.15px;
}
.button_type_save:hover {
  opacity: 0.8;
}
@media screen and (max-width: 767px) {
  .button_type_save {
    font-size: 14px;
    line-height: 1.21;
    height: 46px;
    width: 238px;
    margin: 16px 0 0 0;
  }
}
