.profile__user {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 1150px) {
  .profile__user {
    align-self: center;
    max-width: min-content;
  }
}
/* centered all content in profile section on 320 viewport */
