.cards__card-grid {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, calc((100% / 3) - 34px / 3));
  grid-template-rows: auto;
  grid-gap: 20px 17px;
}
@media screen and (min-width: 768px) and (max-width: 1150px) {
  .cards__card-grid {
    grid-template-columns: repeat(2, calc((100% / 2) - 28px / 2));
  }
}
@media screen and (max-width: 767px) {
  .cards__card-grid {
    grid-template-columns: 100%;
  }
}
