.button_save {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  background: #000000;
  border-radius: 2px;
  width: 358px;
  height: 50.15px;
}
.button_save:hover {
  opacity: 0.8;
}
@media screen and (max-width: 767px) {
  .button_save {
    width: 238px;
  }
}
