.button_edit {
  margin: 5px 0 0 18px;
  padding: 7px;
  width: 24px;
  height: 24px;
  align-self: center;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}
@media screen and (max-width: 1150px) {
  .button_edit {
    width: 18px;
    height: 18px;
    padding: 5.25px;
    margin: 0 0 5px 10px;
    align-self: flex-end;
  }
}
